@font-face {
  font-family: AgencyFB;
  src: url('fonts/AgencyFB/AgencyFB.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/Bold/aleo-bold-webfont.eot');
  src: url('fonts/Aleo/Bold/aleo-bold-webfont.eot?') format('☺'),
       url('fonts/Aleo/Bold/aleo-bold-webfont.woff') format('woff'),
       url('fonts/Aleo/Bold/aleo-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/BoldItalic/aleo-bolditalic-webfont.eot');
  src: url('fonts/Aleo/BoldItalic/aleo-bolditalic-webfont.eot?') format('☺'),
       url('fonts/Aleo/BoldItalic/aleo-bolditalic-webfont.woff') format('woff'),
       url('fonts/Aleo/BoldItalic/aleo-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/Light/aleo-light-webfont.eot');
  src: url('fonts/Aleo/Light/aleo-light-webfont.eot?') format('☺'),
       url('fonts/Aleo/Light/aleo-light-webfont.woff') format('woff'),
       url('fonts/Aleo/Light/aleo-light-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/LightItalic/aleo-lightitalic-webfont.eot');
  src: url('fonts/Aleo/LightItalic/aleo-lightitalic-webfont.eot?') format('☺'),
       url('fonts/Aleo/LightItalic/aleo-lightitalic-webfont.woff') format('woff'),
       url('fonts/Aleo/LightItalic/aleo-lightitalic-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/Regular/aleo-regular-webfont.eot');
  src: url('fonts/Aleo/Regular/aleo-regular-webfont.eot?') format('☺'),
       url('fonts/Aleo/Regular/aleo-regular-webfont.woff') format('woff'),
       url('fonts/Aleo/Regular/aleo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  src: url('fonts/Aleo/RegularItalic/aleo-regularitalic-webfont.eot');
  src: url('fonts/Aleo/RegularItalic/aleo-regularitalic-webfont.eot?') format('☺'),
       url('fonts/Aleo/RegularItalic/aleo-regularitalic-webfont.woff') format('woff'),
       url('fonts/Aleo/RegularItalic/aleo-regularitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
