.preto{
  background-color: black;
}
.cinza{
  background-color: #606A70 ;
}
.azul-forte{
  background-color: #1A3873 ;
}
.azul-bebe{
  background-color: #00B3F0 ;
}
.azul-marinho{
  background-color: #009DBB ;
}
.roxo-claro{
  background-color: #7566A2 ;
}
.roxo-bigbig{
  background-color: #6C3F87 ;
}
.roxo-flor{
  background-color: #823582 ;
}
.roxao{
  background-color: #7D2571 ;
}
.rosa{
  background-color: #F05C84 ;
}
.fuxia{
  background-color: #ED1F61 ;
}
.branco{
  background-color: white;
}
.back-cinza{
  background-color: #f9f9f9 ;
}
.char-cinza{
  color: #606A70 ;
}
.char-azul-forte{
  color: #1A3873 ;
}
.char-azul-bebe{
  color: #00B3F0 ;
}
.char-azul-marinho{
  color: #009DBB ;
}
.char-roxo-claro{
  color: #7566A2 ;
}
.char-roxo-bigbig{
  color: #6C3F87 ;
}
.char-roxo-flor{
  color: #823582 ;
}
.char-roxao{
  color: #7D2571 ;
}
.char-rosa{
  color: #F05C84 ;
}
.char-fuxia{
  color: #ED1F61 ;
}
.char-branco{
  color: white;
}
.cinza-texto{
  color:#333;
}

nav{
  font-family: Agency FB;
  font-size: 22pt !important;
  padding: 0px !important;
}
body{
  font-family: Agency FB;
}
hr{
  border: 1px solid white;
  background-color: white;
}
.opposite{
  background-color:#333 !important;
  border:1px solid #333 !important;
}
.navbar-brand{
  padding: 10px !important;
}
.nav-link{
  color: white !important;
}
.nav-item{
  padding: 15px;
}
.nav-item:hover{
  background-color: #009DBB !important;
}
.separacoes{
  padding: 20px;
  padding-top: 30px;
  text-align: justify;
}
.agency{
  font-family: Agency FB !important;
}
.aleo{
  font-family: Aleo !important;
}
.roboto{
  font-family: 'Roboto',sans-serif;
}
.text-center{
  text-align: center;
  font-family: Agency FB;
}
h1{

  margin-top: 15px;
  margin-bottom: 15px;
  text-align:center;
}

p{
  font-size:17px !important;
}

#vantagens p{
  font-size:1rem;
}
i{
  text-align:center !important;
}

.destaque-palavras{
  font-weight: bold;
  color: #1A3873;

}
.stair-icon {
  width: 15vw;
  height: 15vw;
  display: inline-block;
}
.fa-5x{

  text-align: center !important;
  font-size:10rem !important;
}
.box{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}
