.preto {
    background-color: black;
}

.cinza {
    background-color: #606A70;
}

.azul-forte {
    background-color: #1A3873;
}

.azul-bebe {
    background-color: #00B3F0;
}

.azul-marinho {
    background-color: #009DBB;
}

.roxo-claro {
    background-color: #7566A2;
}

.roxo-bigbig {
    background-color: #6C3F87;
}

.roxo-flor {
    background-color: #823582;
}

.roxao {
    background-color: #7D2571;
}

.rosa {
    background-color: #F05C84;
}

.fuxia {
    background-color: #ED1F61;
}

.branco {
    background-color: white;
}

.back-cinza {
    background-color: #f9f9f9;
}

.char-cinza {
    color: #606A70;
}

.char-azul-forte {
    color: #1A3873;
}

.char-azul-bebe {
    color: #00B3F0;
}

.char-azul-marinho {
    color: #009DBB;
}

.char-roxo-claro {
    color: #7566A2;
}

.char-roxo-bigbig {
    color: #6C3F87;
}

.char-roxo-flor {
    color: #823582;
}

.char-roxao {
    color: #7D2571;
}

.char-rosa {
    color: #F05C84;
}

.char-fuxia {
    color: #ED1F61;
}

.char-branco {
    color: white;
}

.cinza-texto {
    color: #333;
}

.opposite {
    background-color: #333 !important;
    border: 1px solid #333 !important;
}
.separacoes {
    padding: 20px;
    padding-top: 30px;
    text-align: justify;
}

.agency {
    font-family: Agency FB !important;
}

.aleo {
    font-family: Aleo !important;
}

.roboto {
    font-family: 'Roboto',sans-serif;
}

.text-center {
    text-align: center;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 17px !important;
}

#vantagens p {
    font-size: 1rem;
}

i {
    text-align: center !important;
}

strong {
    color: #1A3873;
}

.stair-icon {
    width: 15vw;
    height: 15vw;
    display: inline-block;
}

.fa-5x {
    text-align: center !important;
    font-size: 9rem !important;
}

.box {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}




$nav-color: #0275d8;
$background-color:  #f9f9f9;
$secondary-color:  #69606F;
$primary-color:  #32223C;
$primary-text-color:  #5A3A6F;
$secondary-text-color:  #B1A1BC;


nav{
    font-family: 'Quicksand';
    background-color: $nav-color;
    opacity: 0.7;

    .navbar-header {
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {
      font-size: 2.5rem;
      color:white !important;
      float:none;
    }

}

.content-wrapper{
  padding: 50px;
  @media screen and (max-width: 762px){
    padding: 10px;
  }
}

.section-wrapper{
    padding: 30px 20px 20px 20px;
    text-align: justify;
    font-family: 'Roboto';
    background-color: $background-color;
}
